* {
    margin: 0;
    padding: 0;
}

@viewport {
    width: device-width;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 3;
    user-zoom: fixed;
}

body {
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 20px;
}


/* Estilo header */

.contenedor .header {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenedor .header .header-logo {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor .header .header-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}

.contenedor .header .header-links a {
    text-decoration: none;
    color: #000;
}

.contenedor .header img {
    padding: 10px;
    width: 100px;
    border-radius: 40px;
}


/* Estilo formulario */

.contenedor .formulario {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.contenedor button {
    width: 200px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .contenedor .header {
        display: grid;
        align-items: center;
    }
    .contenedor .header .header-logo {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .contenedor .header .header-links {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .contenedor .header .header-links a {
        text-decoration: none;
        color: #000;
    }
    .contenedor .header img {
        margin: auto;
        width: 100px;
        border-radius: 40px;
    }
    .contenedor .formulario {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }
}